*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
}

/* common style */

.common-btn{
    text-decoration:none;
    background:#2956F2;
    color:#ffffff;
    padding:14px 28px;
    border-radius:8px;
    font-size:14px;
    font-weight:600;
    transition:.3s;
}

.common-btn:hover{
    background:#1d4ed8;
}

/* Navbar css */
header{
    width:100%;
    background:#ffffff;
    border-bottom:1px solid #ececec;
}

.navbar{
    width:1200px;
    height:72px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:36px;
}

.nav-links a{
    text-decoration:none;
    color:#6b7280;
    font-size:14px;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#111827;
}


/* Hero Section css */

.hero{
    width:100%;
    height:760px;
    background:url("./Images/banner.jpg");
    background-size:cover;
    background-position:center;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.58);
}

.hero-content{
    position:relative;
    z-index:2;
    width:760px;
    text-align:center;
}

.hero-content h1{
    color:#ffffff;
    font-size:78px;
    font-weight:800;
    line-height:1.15;
    margin-bottom:30px;
}

.hero-content h1 span{
    font-style:italic;
}

.hero-content p{
    width:680px;
    margin:0 auto 80px;
    color:#f3f4f6;
    font-size:22px;
    line-height:36px;
    font-weight:400;
}

/* Meet the speaker css */

.speakers{
    padding:90px 0;
    background:#ffffff;
}

.container{
    width:1180px;
    margin:auto;
}

.section-title{
    text-align:center;
    font-size:58px;
    font-weight:700;
    color:#111;
    margin-bottom:60px;
}

.speaker-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.speaker-card{
    background:#fff;
    border:1px solid #e8e8e8;
    border-radius:12px;
    overflow:hidden;
    transition:.3s;
}

.speaker-card:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 35px rgba(0,0,0,.08);
}

.speaker-card img{
    width:100%;
    height:340px;
    object-fit:cover;
    display:block;
}

.speaker-content{
    padding:24px;
}

.category{
    display:block;
    color:#2563eb;
    font-size:12px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:.5px;
    margin-bottom:10px;
}

.speaker-content h3{
    font-size:30px;
    color:#111;
    margin-bottom:8px;
    font-weight:700;
}

.speaker-content p{
    font-size:16px;
    color:#777;
    line-height:1.6;
}



/* Pricing Section css */

.pricing-section{
    width:100%;
    padding:90px 8%;
    background:#fff;
    font-family:Arial, Helvetica, sans-serif;
}

.pricing-heading{
    text-align:center;
    margin-bottom:55px;
}

.pricing-heading h2{
    font-size:58px;
    font-weight:800;
    color:#182433;
    margin-bottom:12px;
}

.pricing-heading p{
    color:#7a7a7a;
    font-size:17px;
}

.pricing-container{
    display:flex;
    justify-content:center;
    gap:28px;
    align-items:stretch;
}

.price-card{
    width:360px;
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:14px;
    padding:28px;
    display:flex;
    flex-direction:column;
}

.price-card .plan{
    font-size:13px;
    font-weight:700;
    letter-spacing:1px;
    color:#7c7c7c;
    margin-bottom:10px;
}

.price-card h3{
    font-size:60px;
    font-weight:800;
    color:#1a2433;
    margin-bottom:5px;
}

.person{
    color:#8b8b8b;
    margin-bottom:22px;
}

.price-card hr{
    border:none;
    height:1px;
    background:#ececec;
    margin-bottom:25px;
}

.price-card ul{
    list-style:none;
    padding:0;
    margin:0;
    flex:1;
}

.price-card ul li{
    margin-bottom:18px;
    color:#4d5663;
    font-size:15px;
    position:relative;
    padding-left:18px;
    line-height:1.4;
}

.price-card ul li::before{
    content:"•";
    position:absolute;
    left:0;
    color:#2d68ff;
    font-size:18px;
}

.price-card button{
    margin-top:30px;
    height:48px;
    border-radius:8px;
    border:2px solid #3567f6;
    background:#fff;
    color:#3567f6;
    font-size:15px;
    font-weight:700;
    cursor:pointer;
    transition:.3s;
}

.price-card button:hover{
    background:#3567f6;
    color:#fff;

}

/* Active Card */

.price-card.active{
    background:#101d2d;
    border:none;
}

.price-card.active .plan{
    color:#7ea9ff;
}

.price-card.active h3{
    color:#fff;
}

.price-card.active .person{
    color:#8da0b7;
}

.price-card.active hr{
    background:#223246;
}

.price-card.active ul li{
    color:#d2d7de;
}

.price-card.active button{
    background:#3567f6;
    color:#fff;
    border:none;
}

.price-card.active button:hover{
    background:#2457ec;
}

/* Contact us button */
.outline-btn{
    border:2px solid #232323 !important;
    color:#232323 !important;
    background:#fff !important;
}

.outline-btn:hover{
    background:#232323 !important;
    color:#fff !important;
}






